@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
    font-family: 'Inter', sans-serif !important;
}


h1{
  margin: 0;
}


#header{
  gap: 43vw;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 130vh;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../assets/home_bg.png');
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 

  color: #f2f2f2;

}


@keyframes pulse {
  0% {
    color: white;
  }
  50% {
    color: #fa8686;
  }
  100%{
    color: white;
  }
}

.pulsing-element {
  display: inline-block;
  animation: pulse 2s infinite;
}



#header{
    background: #f2f2f2;
    width: 100%;

}

h2{
    font-weight: 200;
    padding: 0;
    color: #f2f2f2;
    
}

#filterContainer {
  margin-bottom: 20px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}




#menuContainer{
    flex-wrap: wrap;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: #1b1b1b;
    width: 80%;
    overflow-y: scroll;
    border-radius: 7%;
    box-shadow:  0px -10px 10px -1px rgba(145, 144, 144, 0.5);
     transition: box-shadow 0.3s ease;
}

#menuContainer:hover{
    box-shadow:  0px -10px 10px -1px rgba(145, 144, 144, 0.9);
}

.menu-item{
    flex: 0 0 calc(30% - 30px); 
    align-self: flex-start;
}


#orderCart:hover{
  color: green;
}



#infoContainer{
  display: flex;
  justify-content: space-between;

  position: absolute;
  bottom: -30vh;
  left: 20px;
  transform: translateY(-50%);
}

#social h4{
  color: green;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 1px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
}

#social img{
  width: 25px;
}


#contact h4{
  color: green;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.8), 0 0 1px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8);
}



#user:hover{
  cursor: pointer;
}



.bi:hover:not(:first-child){
  color: green;
  cursor: pointer;
}



.user-container {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: -25px;
  top: 50px; /* Adjust the distance from the top */
  background-color: #fff; /* Set the background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 5px;
  padding: 10px;
  display: none;
  z-index: 999999;
}

.user-container:hover .dropdown {
  display: block;
  z-index: 999999;
}

#user > div:nth-child(1) > h2{
  font-weight: bold;
}

#user > div:nth-child(1) > h2:hover{
  color: green !important;
  cursor: pointer;

}


ul li:hover{
  color: green;
  cursor: pointer;
  background-color: #bcbcbc;

}

@media only screen and (max-height:768px) {
  #user h1{
      width: 20vw;

  }

  #opt{
      width: 30vw;
  
  }


  #header{
    gap: 20vw;
  }


  #page > h4 > svg{
    margin-left: 32vw !important;
  }
}



::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(251, 251, 251); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #767676; 
  }