<div id="header" style="display: flex; justify-content: space-around; align-items: center; gap: 50vw; position:fixed">

    <h1 id="opt">All Foods - Menu</h1>
    <h1 id="contact">Contact</h1>
  
</div>
  


<div id="page">

    <div id="titleContainer" style="display: flex; justify-content:top; flex-direction:column; margin-bottom:40px">
        <h2>
            Take a look at our menu
        </h2>

    </div>
    

    <div id="menuContainer">
        
        <div *ngFor="let item of items">
            <app-item [item]="item"></app-item>
        </div>
        

    </div>

</div>